<!DOCTYPE html>
<html>
<head>
    <title>500 Internal Server Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 100px;
        }
        h1 {
            font-size: 48px;
            color: #FF0000;
        }
        p {
            font-size: 24px;
        }
    </style>
</head>
<body>
    <h1>500 - Internal Server Error</h1>
    <p>Sorry, something went wrong on the server.</p>
    <!-- Display flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }}">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}
</body>
</html>
