<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
</head>
<style>
    .card {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #ccc;
    }

    .flashcard-content {
        padding: 20px;
        text-align: center;
        font-size: 20px;
    }

    .flashcard-content.answer {
        display: none;
    }
</style>
<body>
    <div class="container mt-3">
        <div class="text-center">
            <h1 style="font-weight: bold;">Quiz Flashcards</h1>
        </div>

        <div id="flashcard-container">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Flashcard</h5>
                    <div class="flashcard">
                        <div class="flashcard-content question">
                            {{ flashcards_data[0].question }}
                        </div>
                        <div class="flashcard-content answer" style="display: none;">
                            {{ flashcards_data[0].answer }}
                        </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-success correct-button" onclick="markCorrect()">✅ Correct</button>
                            <button class="btn btn-primary flip-button" onclick="toggleFlashcard()">Flip</button>
                            <button class="btn btn-danger incorrect-button" onclick="markIncorrect()">❌ Incorrect</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="{{ url_for('view_folder', folder_id=folder) }}" class="btn btn-link">Back to Folder</a>
        </div>
    </div>

    <script>
        // JavaScript functions to handle flashcard interactions
        let currentFlashcardIndex = 0;
        const flashcardsData = {{ flashcards_data|tojson }};
        const revise_this_folder_id  = {{ revise_this_folder }};
        const folder_id = {{ folder }};
        let correctAnswers = 0; // Counter for correct answers

        function toggleFlashcard() {
            const question = document.querySelector('.flashcard-content.question');
            const answer = document.querySelector('.flashcard-content.answer');
            if (question.style.display === 'none') {
                question.style.display = 'block';
                answer.style.display = 'none';
            } else {
                question.style.display = 'none';
                answer.style.display = 'block';
            }
        }

        function markCorrect() {
            currentFlashcardIndex++;
            correctAnswers++;
            if (currentFlashcardIndex < flashcardsData.length) {
                updateFlashcardAttempts();
                updateFlashcard();
            } else {
                finishQuiz();
            }
        }

        function markIncorrect() {
            // Make an AJAX request to add the incorrect flashcard to the 'Revise This' folder
            const currentFlashcard = flashcardsData[currentFlashcardIndex];
            const folderId = revise_this_folder_id;
            addFlashcardToFolder(folderId, currentFlashcard.question, currentFlashcard.answer);

            currentFlashcardIndex++;
            if (currentFlashcardIndex < flashcardsData.length) {
                updateFlashcardAttempts();
                // Update the current flashcard
                updateFlashcard();
            } else {
                finishQuiz();
            }
        }

        function addFlashcardToFolder(folderId, question, answer) {
            // Make an AJAX POST request to the '/add_flashcard_to_folder' route
            fetch('/add_flashcard_to_folder', {
                method: 'POST',
                body: new URLSearchParams({
                    folder_id: folderId,
                    question: question,
                    answer: answer
                }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
            .then(response => {
                if (response.status === 200) {
                    console.log('Flashcard added to folder successfully.');
                } else {
                    console.error('Error adding flashcard to folder:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error adding flashcard to folder:', error);
            });
        }

        function sendQuizResults(grade) {
            return fetch('/submit_exam_results', {
                method: 'POST',
                body: new URLSearchParams({
                    grade: grade,
                    folder_id: folder_id,
                }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            })
            .then(response => {
                if (response.status === 200) {
                    console.log('Exam results submitted successfully.');
                } else {
                    console.error('Error submitting exam results:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error submitting exam results:', error);
            });
        }

        function updateFlashcardAttempts() {
            // Increment the attempts attribute
            const currentFlashcard = flashcardsData[currentFlashcardIndex-1];
            const flashcardId = currentFlashcard.id;
            const attempts = currentFlashcard.attempts + 1;

            // Make an AJAX POST request to update the attempts for the flashcard
            fetch('/update_flashcard_attempts', {
                method: 'POST',
                body: new URLSearchParams({
                    flashcard_id: flashcardId,
                    attempts: attempts
                }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
                .then(response => {
                    if (response.status === 200) {
                        console.log('Flashcard attempts updated successfully.');
                    } else {
                        console.error('Error updating flashcard attempts:', response.statusText);
                    }
                })
                .catch(error => {
                    console.error('Error updating flashcard attempts:', error);
                });
        }

        function finishQuiz() {
            // Calculate the grade based on the number of correct and incorrect answers
            const totalQuestions = flashcardsData.length;
            const grade = (correctAnswers / totalQuestions) * 100;

            // Make an AJAX request to send the results to the server
            sendQuizResults(grade);

            alert('You have studied all flashcards in this folder.');
        }

        function updateFlashcard() {
            const currentFlashcard = flashcardsData[currentFlashcardIndex];

            // Update the question and answer elements
            document.querySelector('.question').textContent = currentFlashcard.question;
            document.querySelector('.answer').textContent = currentFlashcard.answer;
            document.querySelector('.answer').style.display = 'none';

            // Clear the user's answer in the input field
            document.querySelector('.user-answer').value = '';
        }
    </script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
